[Unit]
Description=Gunicorn server for SITENAME 

[Service]
Restart=on-failure
User=meow
WorkingDirectory=/home/meow/sites/SITENAME/source
ExecStart=/home/meow/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    superlists.wsgi.application

[Install]
WantedBy=multi-user.target
